Accessable Unity Project/five nights at papa's bar-eria/Assets/obj/Debug/net10.0/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.GeneratedMSBuildEditorConfig.editorconfig
Accessable Unity Project/five nights at papa's bar-eria/Assets/obj/Debug/net10.0/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.AssemblyInfoInputs.cache
Accessable Unity Project/five nights at papa's bar-eria/Assets/obj/Debug/net10.0/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.AssemblyInfoInputs.cache
